@model Department
@{
    Layout = "_Layout2";
}

   <form  method="post">
        <div class="form-group">
            <label >Department ID</label>
            <span class="text-danger" asp-validation-for="DeptId"></span>
@*         <input type="text" class="form-control" name="DeptId" value="@Model?.DeptId" placeholder="Enter ID ">
 *@
<input  asp-for="DeptId" class="form-control" />
</div>
        <div class="form-group">
            <label >Department Name</label>
            <input  asp-for="Name" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>

@*             <input type="text" class="form-control" name="Name" value="@Model?.Name" placeholder="Enter Name">
 *@        </div>
        
        <button type="submit" class="btn btn-outline-dark">Add Department</button>
    </form>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>






