@model Department
@{
    Layout = "_Layout2";
}


    <form method="post">
        <div class="form-group">
            <label asp-for="DeptId"></label>
            <input readonly asp-for="DeptId" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>

        <button type="submit" class="btn btn-dark">Update</button>
    </form>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



